*, *::before, *,::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    
}


.videoContainer{
    position: relative;
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;

}

video{
    width: 100%;
}

.videoControlsContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;

}

.videoContainer:hover .videoControlsContainer{
    opacity: 1;
}